Cython <= 0.29.15 ; python_version < "3.10"
Cython >= 0.29.15 ; python_version >= "3.10"
numpy <= 1.24 ; python_version < "3.10"
numpy >= 1.24 ; python_version >= "3.10"
pandas >= 1.5
scipy
joblib >= 0.12
scikit-learn >= 0.21
seaborn >= 0.10.0
