name: Test on Linux

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
        experimental: [false]
      fail-fast: false
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    name: Test py ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@master
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - run: make build_deps
      - run: pip install -r requirements-nn.txt
      - run: pip install .[all]
      - run: make test
  release:
    needs: [test]
    # release when using `tags` or `release` branch
    if: ${{ startsWith(github.ref, 'refs/tags') || github.ref == 'refs/heads/release' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          architecture: x64
      - run: make dist
      - uses: RalfG/python-wheels-manylinux-build@v0.7.1
        with:
          build-requirements: 'cython numpy'
      - run: rm dist/*-linux_x86_64.whl
      - uses: pypa/gh-action-pypi-publish@release/v1
        name: publish pypi
        with:
          user: __token__
          password: ${{ secrets.PYPI }}
          skip-existing: true
          verbose: true
