name: Test on MacOS

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']
        experimental: [false]
      fail-fast: false
    runs-on: macos-latest
    continue-on-error: ${{ matrix.experimental }}
    name: Test py ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@master
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - run: make build_deps
      - run: pip install -r requirements-nn.txt
      - run: pip install .[all]
      - run: make test
      - run: make dist_wheel
      - uses: actions/upload-artifact@v2
        with:
          name: wheel
          path: dist/*.whl
  release:
    needs: [test]
    # release when using `tags` or `release` branch
    if: ${{ startsWith(github.ref, 'refs/tags') || github.ref == 'refs/heads/release' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: wheel
          path: dist/
      - uses: pypa/gh-action-pypi-publish@release/v1
        name: publish pypi
        with:
          user: __token__
          password: ${{ secrets.PYPI }}
