name: Test on Windows

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12']
        experimental: [false]
      fail-fast: false
    runs-on: windows-latest
    continue-on-error: ${{ matrix.experimental }}
    name: Test py ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@master
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - run: make build_deps
      - run: pip install -r requirements-nn.txt
      - run: pip install .[all]
      - run: make test
      - run: make dist_wheel
      - uses: actions/upload-artifact@v4
        with:
          name: wheel-${{ matrix.python-version }}
          path: dist/*.whl
  release:
    needs: [test]
    # release when using `tags` or `release` branch
    if: ${{ startsWith(github.ref, 'refs/tags') || github.ref == 'refs/heads/release' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: wheel-${{ matrix.python-version }}
          path: dist/
      - uses: pypa/gh-action-pypi-publish@release/v1
        name: publish pypi
        with:
          user: __token__
          password: ${{ secrets.PYPI }}
